a {
    background-color: #55acee;
    border-radius: 5em;
    clear: both;
    color: white;
    display: inline-block;
    float: left;
    font-size: 1.5em;
    margin-top: .5em;
    padding: .6em 1em .6em;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease;
}

a:hover {
    background-color: #006daa;
}
